// Variables

// Gray and Brand Colors for use across theme
$body-bg: rgb(38, 38, 38);
$body-color: #888;

$theme-primary: #004A7F;
$theme-secondary: #48687F;
$theme-light: #37ACFF;
$button-primary: #00FF67;
$yellow: #FFF300;

$background-dark: #0A1B2E;
$background-light: #f3f3f3;

$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default;
$gray-dark: lighten($gray-base, 20%) !default;
$gray: lighten($gray-base, 33.5%) !default;
$gray-light: lighten($gray-base, 46.7%) !default;
$gray-lighter: lighten($gray-base, 93.5%) !default;
