.card {
  border-radius: 1rem !important;
  overflow: hidden;

  &__header {
    text-align: center;
    background-color: map-get($grays, "700");
    color: white;
    padding: 0.75rem 1.25rem;

    h3 {
      display: inline-block;
      margin: 0;
      // font-family: 'Lobster', cursive;
    }
  }

  &__body {
    padding: 1.25rem;
    background-color: map-get($grays, "500");
  }
}
