.card {
  border-radius: 1rem !important;
  overflow: hidden;
  background-color: $gray-dark;
  li {
    background-color: $gray-dark;
  }
  &--button {
    cursor: pointer;
  }

  &__header {
    text-align: center;
    color: white;
    padding: 1rem;

    h3 {
      display: inline-block;
      margin: 0;
      // font-family: 'Lobster', cursive;
    }
  }

  &__body {
    padding: 1rem;
  }
}
