// Variables

$vue-light: #00C683;
$vue-light-darker: darken(#00C683, 13.5%);
$vue-dark: #3A465F;

$theme-light: #37ACFF;
$button-primary: $vue-light;
$yellow: #FFF300;

$pale-blue: #0E88B5;
$pale-yellow: #FFFF34;
$pale-red: #FF5136;
$pale-green: #20CF5E;
$pale-blue: #0E88B5;
$pale-slate: #4A475B;

$background-dark: #0A1B2E;
$background-light: #f3f3f3;

$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default;
$gray-dark: lighten($gray-base, 20%) !default;
$gray: lighten($gray-base, 22%) !default;
$gray-light: lighten($gray-base, 46.7%) !default;
$gray-lighter: lighten($gray-base, 80%) !default;

// Gray and Brand Colors for use across theme
$body-bg: $gray-darker; //rgb(38, 38, 38);
$body-color: #fff; //#888;
$card-bg: $gray-dark;
$data-table-head-bg: $gray-darker;
$data-table-body-bg: $gray-dark;

$theme-primary:   $gray-darker;
$theme-secondary: $gray-dark;

// close btn
// $close-color: $body-color;
// $font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
// $close-font-size: $font-size-base * 3;
// $close-text-shadow: none;
